name: Create Trello card on pull request merged

on:
  pull_request:
    types: [closed]

jobs:
  create_trello_card_job:
    runs-on: ubuntu-latest
    name: Create Trello Card
    steps:
      - name: Call trello-github-actions
        uses: LiangRenDev/github-action-trello-integration@main
        with:
          action: pull_request_merge_create_card
          release_version: 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TRELLO_API_KEY: ${{ secrets.TRELLO_API_KEY }}
          TRELLO_API_TOKEN: ${{ secrets.TRELLO_API_TOKEN }}
          # TRELLO_BOARD_ID must match a board. GH repo should connect
          # to exactly one board, but Trello board may connect to multiple
          # GH repositories.
          TRELLO_BOARD_ID: ${{secrets.TRELLO_BOARD_ID}}
          # Backlog list ID
          TRELLO_LIST_ID: ${{secrets.TRELLO_LIST_ID}}
        
